* {
  /*normal padding get lost, 
  https://css-tricks.com/reset-all-margins-padding/
  says this is okay to do*/
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
}

.leftBanner {
  display: flex;
  flex-direction: column;
  width: 33%;
  background-image: url("Images/German.jpg");
  background-attachment: fixed;
  background-size: 40%;
  background-position: -5% 55%;
  background-repeat: no-repeat;
}

.opacBanner {
  background-color: black;
  color: white;
  opacity: 0.5;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 33%;
}

.bannerIcon {
  width: 100px;
  height: 100px;
}

.bannerText {
  font-size: 84px;
}

.bannerCopyWrite {
  align-self: center;
  font-size: 8px;
  color: black;
  margin-top: auto;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 66%;
}

.formHeader,
.formFooter {
  height: 35%;
  background-color: #aabec5;
}

.formHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.signUpText {
  font-size: 24px;
  padding-left: 72px;
}
.formInnerWrapper {
  height: 30%;
  width: 100%;
  background-color: #e3a58f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 80px;
  gap: 8px;
}
.formRow {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.formholder {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.formText {
  margin-right: 205px;
}
.formFooter {
  display: flex;
  flex-direction: column;
}
input {
  border-radius: 4px;
  border-color: white;
}
label {
  font-family: Courier New, Courier, monospace;
  font-size: 12px;
}
.signUpBtn {
  background-color: #352925;
  color: #fafafa;
  font-size: 20px;
  border-radius: 8px;
  height: 40px;
  width: 220px;
  margin-top: 40px;
  margin-left: 72px;
  border-style: none;
}
.germanImages {
  width: 100px;
  height: 100px;
  opacity: 0.3;
  margin-left: auto;
  padding-right: 30px;
}
